<form [formGroup]="myForm">
  <ng-container *ngFor="let prop of formProps">
    <ng-container [ngSwitch]="prop.type" *ngIf="isDependent(prop.dependency)">
      <label class="label">{{prop.label}}:</label>
      <ng-container>
        <app-text *ngSwitchCase="'text'" [key]="prop.key" [myForm]="myForm"></app-text>
      </ng-container>
      <ng-container>
        <app-email *ngSwitchCase="'email'" [key]="prop.key" [myForm]="myForm"></app-email>
      </ng-container>
      <ng-container *ngSwitchCase="'radio'">
        <app-radio [key]="prop.key" [myForm]="myForm" [options]="prop.options"></app-radio>
      </ng-container>
      <ng-container *ngSwitchCase="'select'">
        <!--<select *ngSwitchCase="'select'" [formControlName]="prop.key">-->
          <!--<option *ngFor="let option of prop.options" [value]="option.value">-->
            <!--{{option.label}}-->
          <!--</option>-->
        <!--</select>-->
        <app-select [key]="prop.key" [myForm]="myForm" [options]="prop.options"></app-select>
      </ng-container>
      <ng-container>
        <input *ngSwitchCase="'number'" type="number" [formControlName]="prop.key">
      </ng-container>
    </ng-container>
  </ng-container>
  <button (click)="submit()">
    Submit
  </button>
</form>
<div>
  {{myForm.value | json}}
</div>
