<form [formGroup]="myForm">
  <ng-container *ngFor="let prop of formProps">
    <ng-container [ngSwitch]="prop.type">
      <label class="label" *ngIf="isDependent(prop.dependency)">{{prop.label}}:</label>
      <ng-container *ngIf="isDependent(prop.dependency)">
        <!--<div *ngSwitchCase="'text'" class="input-block">-->
          <!--&lt;!&ndash;<input type="text" [formControlName]="prop.key">&ndash;&gt;-->
        <!--</div>-->
        <app-text *ngSwitchCase="'text'" [key]="prop.key" [myForm]="myForm"></app-text>
      </ng-container>
      <ng-container *ngIf="isDependent(prop.dependency)">
        <div *ngSwitchCase="'email'" class="input-block">
          <!--<input type="email" [formControlName]="prop.key">-->
          <app-email *ngSwitchCase="'email'" [key]="prop.key" [myForm]="myForm"></app-email>
        </div>
      </ng-container>
      <ng-container *ngIf="isDependent(prop.dependency)">
        <div *ngSwitchCase="'radio'" class="input-block row">
          <ng-container *ngFor="let option of prop.options">
            <div>{{option.label}}</div>
            <input type="radio" [formControlName]="prop.key" [name]="prop.key" [value]="option.value">
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isDependent(prop.dependency)">
        <div *ngSwitchCase="'select'" class="input-block">
          <select [formControlName]="prop.key">
            <option *ngFor="let option of prop.options" [value]="option.value">
              {{option.label}}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="isDependent(prop.dependency)">
        <div *ngSwitchCase="'number'" class="input-block">
          <input type="number" [formControlName]="prop.key">
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <button (click)="submit()">
    Submit
  </button>
</form>
<div>
  {{myForm.value | json}}
</div>
